<%= render 'layouts/header' %>
<flex>
  <%= render 'layouts/sidebar' %>

  <main>
    <h2>会員登録</h2>

    <%= form_with model: @user, url: user_path, local: true do |f| %>
  
      <label class="costlabel">email</label>
      <div class="center">
        <%= f.text_field :email %>
      </div>

      <label class="costlabel">password</label>
      <div class="center">
        <%= f.password_field :password %>
      </div>

      <label class="costlabel">password_confirmation</label>
      <div class="center">
        <%= f.password_field :password_confirmation %>
      </div>
  
      <div class="button3">
        <%= f.submit "登録" %>
      </div>
    <% end %>
    
    <div class="center">
      <%= link_to "既に会員の方はこちら", login_path %>
    </div>
  </main>
</flex>