<sidebar>
        <!-- ðŸ” -->
        <input id="menu" type="checkbox" />
        <label for="menu" class="open">ðŸˆª</label>
        <label for="menu" class="back"></label>
        <!-- ðŸ” -->

        <aside>
            <!-- ðŸ” -->
            <label for="menu" class="close">Ã—</label>
            <!-- ðŸ” -->

            <nav>
                <ul>
                        <li><%= link_to 'stockcardã¨ã¯', products_buy_path %></li>
                    <% unless user_signed_in? %>
                        <li><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', login_path %></li>
                        <li><%= link_to 'ä¼šå“¡ç™»éŒ²', new_user_path %></li>
                    <% else %>
                        <li><%= link_to 'è³¼å…¥ãƒ»å…¥æœ­ã—ãŸå•†å“', orders_buyer1_path %></li>
                        <li><%= link_to 'è²©å£²ãƒ»å‡ºå“ã—ãŸå•†å“', orders_seller1_path %></li>
                        <li><%= link_to 'ç™»éŒ²æƒ…å ±', profiles_new_path %></li>
                        <li><%= link_to 'å‡ºé‡‘', costs_new_path %></li>
                        <li class="link"><%= button_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", logout_path, method: :delete %></li>
                        <% if current_user.email == '1' %>
                            <li><%= link_to 'ç®¡ç†ç”»é¢', costs_edit_path %></li>
                        <% end %>
                    <% end %>
                </ul>
            </nav>
        </aside>
</sidebar>